@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

$matrix-size: $thumb-size-hover / $thumb-size;
$matrix-origin: - strip-units($thumb-size) / 2;

.thumb {
  position: absolute;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  background-color: $thumb-color;
  pointer-events: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);

  &.hover {
    transform: matrix(
      $matrix-size,
      0,
      0,
      $matrix-size,
      $matrix-origin,
      $matrix-origin
    );
    cursor: grab;
  }
}
